/*WORDPRESS NAV MENU ITEM - Setting the Facebook Icon*/
#toplevel_page_msosocial-feed.menu-top .wp-menu-image:before{
    content: "\f09a \f099";
    margin-top: -2px;
}
#toplevel_page_msosocial-feed.menu-top .wp-menu-image:after{
    content: "\f16d";
    margin-top: -12px;
    margin-left: -2px;
}
#toplevel_page_msosocial-feed.menu-top .wp-menu-image:before,
#toplevel_page_msosocial-feed.menu-top .wp-menu-image:after {
    font-family: Fontawesome;
    display: block;
    font-size: 14px;
    line-height: 14px;
    width: 100%;
    text-align: center;
    letter-spacing: 4px;
    color: #a0a5aa;
}

#adminmenu li a:focus div.wp-menu-image:after, 
#adminmenu li.opensub div.wp-menu-image:after, 
#adminmenu li:hover div.wp-menu-image:after {
    color: #00b9eb;
}

#toplevel_page_msosocial-feed.menu-top .wp-menu-image br {
    display: none;
}


/*ADMIN PAGE STYLES*/
.admin_container {
    display: flex;
    max-width: 1000px;
}

.admin_container .tabs {
    padding: 3em 1.5em 3em 0;
    border-right: 1px solid #DDD;
    margin-right: 1.5em;
}

.admin_container .tabs ul li a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

.social_settings {
    padding: 3rem 0;
}
.social_settings form {
    margin-bottom: 20px;
}

.social_settings .fb_button {
    display: inline-block;
    clear: both;
    padding: 0 21px 0 20px;
    height: 45px;
    line-height: 44px;
    background: #4267B2;
    color: #e9eef3;
    text-decoration: none;
    font-size: 14px;
    border-radius: 5px;
}
.social_settings .fb_button.instagram {
    background: linear-gradient(45deg, rgba(246,209,111,1) 0%,rgba(237,7,20,1) 50%,rgba(126,58,177,1) 100%);
}

.social_settings input[name="token"] {
    width: 480px;
    max-width: 100%;
}
.social_settings label {
    display: block;
}

.social_settings ul.standard li:before {
    content: "\f111";
    font-family: Fontawesome;
    display: inline-block;
    font-size: 6px;
    line-height: 18.5px;
    padding-right: 5px;
    vertical-align: middle;
}
.social_settings ul.standard li ul {
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 5px;
}

.form_saved {
    vertical-align: middle;
    line-height: 30px;
    font-size: 20px;
    padding-left: 20px;
    color: #15A312;
}

.post_preview {
    border: 1px solid #4267B2;
    width: 620px;
    max-width: 100%;
    background: white;
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

.post_preview li {
    display: flex;
    border-bottom: 1px solid #4267B2;
    margin-bottom: 20px;
    width: 100%;
}

.post_preview li p {
    margin: 0 0 2em;
}


.post_preview img {
    width: 120px;
    margin-right: 20px;
}

/*ADMIN PAGE STYLES*/


/*IMPORT PAGE*/
.social_settings.import {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 150px);
    padding: 10px;
    overflow: auto;
    box-shadow: 0px -7px 15px -10px rgba(0,0,0,0.3) inset;
    width: 90%;
    margin: 10px auto;
    background: #f6f6f6;
}

.social_settings.import::-webkit-scrollbar {
    width: 10px
}

.social_settings.import::-webkit-scrollbar-track {
    background: #666;
    border-radius: 10px
}

.social_settings.import::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(255,125,0,1);
}


.import_delay {
    border-radius: 10px;
    background-color: white;
    padding: 2rem;
    margin: auto;
    min-width: 280px;
}

.social_settings.import .import_delay button {
    background: #eee;
    -webkit-appearance: none;
    border-radius: 10px;
    width: 100%;
    margin-top: 2rem;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 15px;
    position: relative;
    padding: 1em;
    line-height: 1em;
    box-shadow: 0px 5px 5px -2px rgba(0,0,0,0.3);
    transition: all 0.1s;
    display: flex;
    justify-content: flex-end;
}

.social_settings.import .import_delay button span {
    position: relative;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.25s;
    white-space: nowrap;
}
.social_settings.import .import_delay button:hover span {
    display: none;
}

.social_settings.import .import_delay button .fa {
    color: rgb(95,132,242);
    font-size: 25px;
    line-height: inherit;
    position: relative;
    z-index: 11;
    transition: all 0.5s, color 0.1s;
}
.social_settings.import .import_delay button:hover .fa {
    color: white;
    margin-right: 50%;
    transform: translateX(50%);
}


.social_settings.import .import_delay button:focus {
    outline: none;
    border: 1px solid rgba(255,125,0,1);
}

.social_settings.import .import_delay button:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px black;
}

.social_settings.import .import_delay button:after {
    content: "";
    position: absolute;
    pointer-events: none;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    width: calc(100% - 3em);
    height: calc(100% - 3em);
    border: 1.5em solid rgba(255,125,0,0);
    transform: translate(-50%,-50%);
}

.social_settings.import .import_delay button:hover:after {
    animation: msoButtonHover 0.25s ease 0s forwards;
}

@keyframes msoButtonHover {
    0% {
        border: 1.5em solid transparent;
    }
    25% {
        border-top-color:rgba(255,125,0,1);
        border-right-color:rgba(255,125,0,0);
        border-bottom-color:rgba(255,125,0,0);
        border-left-color:rgba(255,125,0,0);
    }
    50% {
        border-top-color:rgba(255,125,0,1);
        border-right-color:rgba(255,125,0,1);
        border-bottom-color:rgba(255,125,0,0);
        border-left-color:rgba(255,125,0,0);
    }
    75% {
        border-top-color:rgba(255,125,0,1);
        border-right-color:rgba(255,125,0,1);
        border-bottom-color:rgba(255,125,0,1);
        border-left-color:rgba(255,125,0,0);
    }
    100% {
        border-top-color:rgba(255,125,0,1);
        border-right-color:rgba(255,125,0,1);
        border-bottom-color:rgba(255,125,0,1);
        border-left-color:rgba(255,125,0,1);
    }
}

.import_table {
    border-radius: 10px;
    background-color: white;
    padding: 2rem;
    margin: 1rem 0;
}
.import_table td {
    border-bottom: 1px solid #EEE;
    padding: 1rem;
}
.import_table tr:last-child td {
    border-bottom: 0px;
}
.error {
    color: #D00;
}

.permission_checklist .fa-check {
    color: #15A312;
}
/*IMPORT PAGE*/